*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
        background-color: #ffffff  ;  
        /*border: 1px solid red;*/
}
.navdar {
          padding: 16px 0 ;
         
}
.nav-container{
          width: 94%;
          max-width: 1600px;
          display: flex;
          margin: 0 auto;
          justify-content: space-between;
          align-items: center;
}
.logo {
          display: flex;
          flex-direction: column;
          line-height: 1;
          align-items: flex-start;
         /* padding: 16px 1341px  16px 120px ;*/
          padding-left: 120px ;
}
.logo h2{
          font-size: 50px;
          color: #30bb68;
         
         font-weight: 700;

}
.logo h4 {
          margin-top: 4px;
          font-size: 8px;
          color: #555 ;
         
          text-transform: lowercase;
}
.nav-menu {
          height: 55px;
         gap: 32px;
          padding: 34px 344px 34px 345px ;
          display: flex;
          justify-content: space-between;
          list-style: none;
          text-decoration: none;
       align-items: center;
     

}
.nav-menu .non:hover{
  background-color: rgb(203, 216, 212);
}
.nav-menu .non1:hover{
  background-color: rgb(203, 216, 212);
}
.nav-menu .non2:hover{
  background-color: rgb(203, 216, 212);
}


.nav-menu a {
           text-decoration: none;
           font-size: 16px;
           color: #000000;
}
/*
.nav-menu li.non a {
          font-size: 16px;
          font-weight: 500;
          color: #000000;
          
}*/
.btn{
          background-color:  #30B868;
          border: none;
          padding: 12px 16px;
          border-radius: 4px;
          color: #ffffff;
          cursor: pointer;
         

}
.btn:hover {
  color: rgb(19, 14, 3);
  background-color: rgb(241, 239, 245);
}
#banner{
 
  margin-top: 24px;
  background-image: url("./assets/hero-bg.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
}
#banner .banner-content{
  align-items: center;
  width: 1600px ;
  margin: 0 auto;
  text-align: center;
  padding: 120px 120px 179px 120px;

}
.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 14px;
  background-color: #eafaf1;
  color: #1f9e55;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  margin: 0 auto 10px;;
}
.badge .dot {
  width: 8px;
  height: 8px;
  background-color: #30B868;
  border-radius: 50%;
  
}
#banner h1 {
  color: #f1eded;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 50px;

  
}
.high{
  color: #30B868;
}
#banner p {
  font-size: 12px;
  font-weight: 400px;
  line-height: 24px;
  color: #ffffff;
}
.btn-co {
  padding: 32px 447px;
}

#problems {
  padding: 100px 0;
  background: #ffffff;
  text-align: center;
}

#problems .container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0px 120px 44px 120px ;
}

#problems h2 {
  font-size: 36px;
  margin-bottom: 12px;
}

#problems .subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 60px;
}

.problem-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.card {
  background: #fff;
  padding: 32px 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  cursor: pointer;
}
.card:hover{
  background-color: #eafaf1;
}

.card .icon {
  width: 48px;
  height: 48px;
  background: #ff5a5a;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
  font-size: 20px;
}

.card h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.card p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

